body{
    background-image:url(https://www.walldevil.com/wallpapers/a44/wallpaper-background-hayabusa-motorcycle-suzuki-desktop-computer-gallery-widescreen.jpg);
    background-repeat:no-repeat;

}
#nave{
    color:white;
    font-size:17px;
}
.button{
    background-image:url(https://lh3.googleusercontent.com/rlOa7ts6MdyiaFY7yWZlkKxteRq6FgNSzOHJhzSKGXZwciFDhUXbqy0OeF7YqsV16cL3l0LD332RYum39BiTtlz7ow2FvSDKprgl_Tdtxa8nwRp2PVVnIRpkYo5X8m66LLxpG9LzUvi6dKCdmcSW5wi6vaEr2u5t5GrT_S6KkLVzInOKrXCkDQg1Lph0R8omui25KpCXul9euYqrfYapPiL6hBTpX2xlzhBYoMEIOTIK-WlkIuzmJ9M6fL0fAVWajTo7gH8Iku-WL6Z_FENDX3tLrQj__abHj1WCAG02QriyTY99cw-sgZoIHSJnW3fRSCb6ojcCL49CE2i7q7eKmz9mGW4hJFM8uCgKtE0ZkPuxrzl6x30igHbm9R4FOTWMxxpRdNlh_Wxa00KrpmvQYiznQClbSp4VRSK0X6OwqpNj2_yFyapE94f-IWuEK1s4ywdAK-hvQo7WdKnph3CIsTdy1I2ajTP3nAe1kj1SbWS8AzJOOc_-KX6EqUGHYUlzwj3qfJPN-tLknD5eDwOKCCfymLOOFApasglSspk0OzJQIyaxkIDe2uN7QmakNDWs3BlKfmDvz0X5M8GXZWfx6apLLCgsi4rA0Kglto-XGP1odvmC0x0=w110-h32-no);
    padding:10px 40px;
    
}